# Run the pipeline

Import the python packages

In [1]:
import pandas as pd
from sql_queries import *
from create_insert_tables import *

#### Run the entire process to extract, transform and load into the NoSQL tables

ETL Pipeline for Pre-Processing the Files

In [2]:
%run Processing_Checks.py

Create the keyspace, all tables, and insert the data into th

In [3]:
%run create_insert_tables.py

Connect to the Database

In [4]:
cluster, session = create_database()

Run the SQL Queries

1 - Query

Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession  = 4

In [5]:
try:
    rows = session.execute(session_history_select, (338, 4))
except Exception as e:
    print(e)

data = []
for row in rows:
    data.append(row)
    df = pd.DataFrame(data)
df

      artist                             song      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

2 - Query

Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [6]:
try:
    rows = session.execute(user_by_session_select, (10, 182))
except Exception as e:
    print(e)
    
data = []
for row in rows:
    data.append(row)
    df = pd.DataFrame(data)
df

,artist,song,item_in_session,first_name,last_name
0,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,3,Sylvie,Cruz
1,Three Drives,Greece 2000,1,Sylvie,Cruz
2,Down To The Bone,Keep On Keepin' On,0,Sylvie,Cruz
3,Sebastien Tellier,Kilometer,2,Sylvie,Cruz

3 - Query

Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [7]:
try:
    rows = session.execute(user_by_song_select, ('All Hands Against His Own',))
except Exception as e:
    print(e)
    
data = []
for row in rows:
    data.append(row)
    df = pd.DataFrame(data)
df

   first_name last_name  user_id                       song
0  Jacqueline     Lynch       29  All Hands Against His Own
1       Tegan    Levine       80  All Hands Against His Own
2        Sara   Johnson       95  All Hands Against His Own