#### Import Python packages

In [1]:
from Processing_Checks import *
import pandas as pd

#### Creating list of filepaths to process original event csv data files

Parameters:

In [2]:
file = 'event_datafile_new.csv'
filter_cols = ['artist','firstName','gender','itemInSession','lastName','length',\
               'level','location','sessionId','song','userId']

Process file:

In [3]:
file_path_list = process_file()

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [4]:
full_data_rows_list = process_data(file_path_list,file,filter_cols)

#### Data checks

Check the total number of rows in list

In [5]:
checking_total_rows(full_data_rows_list)

8056

Check the total number of rows in the output file

In [15]:
checking_output_rows(file)

6821

##### Data Frame checks

First 5 rows:

In [6]:
data = []
rows = checking_rows(full_data_rows_list)
rows = rows[0:5]
for row in rows:
    data.append(row)
    df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Logged In,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.54051E+12,961,Horn Concerto No. 4 in E flat K495: II. Romanc...,200,1.54328E+12,88
1,Jimi Hendrix,Logged In,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.54051E+12,961,Woodstock Inprovisation,200,1.54328E+12,88
2,Building 429,Logged In,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.54051E+12,961,Majesty (LP Version),200,1.54328E+12,88
3,The B-52's,Logged In,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.54087E+12,107,Love Shack,200,1.54328E+12,38
4,Die Mooskirchner,Logged In,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.54087E+12,107,Frisch und g'sund,200,1.54328E+12,38

Load the full Data Frame

In [16]:
data = []
rows = checking_rows(full_data_rows_list)
for row in rows:
    data.append(row)
    df = pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Logged In,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.54051E+12,961,Horn Concerto No. 4 in E flat K495: II. Romanc...,200,1.54328E+12,88
1,Jimi Hendrix,Logged In,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.54051E+12,961,Woodstock Inprovisation,200,1.54328E+12,88
2,Building 429,Logged In,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.54051E+12,961,Majesty (LP Version),200,1.54328E+12,88
3,The B-52's,Logged In,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.54087E+12,107,Love Shack,200,1.54328E+12,38
4,Die Mooskirchner,Logged In,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.54087E+12,107,Frisch und g'sund,200,1.54328E+12,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8051,Sidewalk Prophets,Logged In,Molly,F,0,Taylor,260.62322,free,"St. Louis, MO-IL",PUT,NextSong,1.54099E+12,464,You Love Me Anyway (Album),200,1.54197E+12,35
8052,Rise Against,Logged In,Molly,F,1,Taylor,221.17832,free,"St. Louis, MO-IL",PUT,NextSong,1.54099E+12,464,Torches,200,1.54197E+12,35
8053,K'Naan,Logged In,Molly,F,2,Taylor,220.49914,free,"St. Louis, MO-IL",PUT,NextSong,1.54099E+12,464,Wavin' Flag,200,1.54197E+12,35
8054,Patrick Jumpen,Logged In,Ryan,M,0,Smith,208.87465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.54102E+12,480,Holiday,200,1.54198E+12,26
8055,Alicia Keys,Logged In,Ryan,M,1,Smith,216.47628,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.54102E+12,480,Empire State Of Mind (Part II) Broken Down,200,1.54198E+12,26

Data Frame info:

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8056 entries, 0 to 8055
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8056 non-null   object
 1   1       8056 non-null   object
 2   2       8056 non-null   object
 3   3       8056 non-null   object
 4   4       8056 non-null   object
 5   5       8056 non-null   object
 6   6       8056 non-null   object
 7   7       8056 non-null   object
 8   8       8056 non-null   object
 9   9       8056 non-null   object
 10  10      8056 non-null   object
 11  11      8056 non-null   object
 12  12      8056 non-null   object
 13  13      8056 non-null   object
 14  14      8056 non-null   object
 15  15      8056 non-null   object
 16  16      8056 non-null   object
dtypes: object(17)
memory usage: 1.0+ MB

Data Frame shape:

In [23]:
df.shape

(8056, 17)

Data Frame null:

In [19]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64